<img class="text-centered" src="https://ih1.redbubble.net/image.174587692.6037/flat,800x800,070,f.u8.jpg" alt="A picture of a burger"/>
<h1>Eat-Da-Burger!</h1>
    <form action="/burgers/create" class="form-control" name="burgerName" value="" id="enterText" />
    <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
</form>